*{
    font-family: Arial, Helvetica, sans-serif;
}

#editor {
    margin: 2em 2em 2em 2em;
    outline: none;
    min-height: calc(100vh - 4em - 2.5em - 4em);
    /* background-color: lightblue; */
    width: calc(100vw - (2 * 2em));
    overflow-wrap: break-word;
}

#editorBar {
    display: flex;
    background-color: white;
    height: 2.5rem;
    border-bottom: 1px solid lightgray;
}

.btnsEditor, .selectEditor, #btnSave, .doc-title {
    border: none;
    background-color: white;
    height: 2em;
    margin: 0.25em 0 0 0.5em;
    font-size: 1em;
}

#btnSave {
    color: #6866fa;
}

.btnsEditor, #btnSave {
    width: 2em;
}


.btnsEditor:hover, .selectEditor:hover, #btnSave:hover {
    background-color: rgb(233, 231, 231);
    border: 1px solid gray;
    border-radius: 2px;
}

#tagsContainer {
    display: flex;
}

.tagLabel {
    width: fit-content;
    height: fit-content;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    background-color: lightgray;
}

.tagLabel:hover {
    color: red;
    text-decoration: line-through;
    cursor: pointer;
}

#addTag {
    box-sizing: content-box;
    height: 1.5rem;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.formAddTags {
    display: flex;
}

#inputTags {
    height: fit-content;
    width: 15ch;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    background-color: lightgray;
    border: none;
    text-transform: uppercase;
}

#btnSaveTags {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    background-color: white;
    border: none;
}

.doc-title {
    height: 1em;
    padding: 0.2rem;
    width: 6em;
    background-color: transparent;
    font-size: 1.5em;
    border-bottom: 3px dashed gray;
    /* overflow: visible; */
}

/* .doc-title:hover {
    border: 1px solid gray;
} */

.doc-title:focus {
    outline: none;
}

#btnBold {font-weight: bold;}
#btnItalic {font-style: italic;}
#btnUnderline {text-decoration-line: underline;}



#btnH1 {
    font-size: 2em;
    font-weight: bold;
}
#btnH2 {
    font-size: 1.5em;
    font-weight: bold;
}
#btnH3 {
    font-size: 1.17em;
    font-weight: bold;
}


#documentCards {
    height: 80vh;
    overflow: auto;
}

#documentCards:last-child {
    border-bottom: 1px solid lightgray;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#documentCards::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#documentCards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.doclist-card {
    padding: 1em 1em 1em 1em;
    border-top: 1px solid lightgray;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.doclist-card>:nth-child(2) {
    font-weight: 100;
    color: rgb(107, 107, 107);
    min-height: 1em;
}

.doclist-card:hover {
    cursor: pointer;
    border-right: 5px solid #f78087;
}

.doclist-card>h3 {
    margin-top: 0;
    margin-block-end: 0;
    padding-bottom: 0.5em;
}

.doclist-card>:nth-child(3) {
    font-size: 0.7rem;
    text-align: end;
    color: rgb(107, 107, 107);
}

#selectSort {
    border: none;
    width: 100%;
    font-size: 1rem;
    height: 2.45em;
    padding-left: 1em;
}

#search-bar {
    border-radius: 2em;
    border: 2px solid lightgray;
    margin: 0.5em;
    padding: 0.3em;
    font-size: 0.7rem;
}

#search-bar:focus {
    outline: none;
}

/* Content styles */
ul {
    margin: 0.25em 1em;
}

ol {
    margin: 0.25em 1em;
}

li {
    margin-left: 1em;
}

/* Default heading styles 
https://stackoverflow.com/questions/5410066/what-are-the-default-font-sizes-in-pixels-for-the-html-heading-tags-h1-h2#5410145 
*/
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: .67em;
    margin-block-end: .67em;
  }
  
  h2,
  :-moz-any(article, aside, nav, section)
  h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: .83em;
    margin-block-end: .83em;
  }
  
  h3,
  :-moz-any(article, aside, nav, section)
  :-moz-any(article, aside, nav, section)
  h1 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
/* Create btn */
#createDoc {
    border-radius: 100%;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 4em;
    height: 4em;
    border: none;
    background-color: #817efc;
    transition: .5s;
    display: grid;
    place-items: center;
}
#createDoc img {
    width: 80%;
}

#createDoc:hover {
    cursor: pointer;
    background-color: rgb(196,127,186);
    transition: 0.5s;
    
}

.active {
    border-right: 5px solid #f78087 !important;
}

@media screen and (min-width: 900px) {
    #editor {
        margin: 2em auto;
        width: 15cm;
        padding: 2em;
        box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    }

    .doc-title {
        font-size: 2em;
    }
}
@media print {
    nav, aside, dialog, #editorBar {
        display: none;
    }
    #editor {
        width:100%!important;
        padding:0!important;
        margin:0!important;
      }
}