*{
    font-family: Arial, Helvetica, sans-serif;
}

#editor {
    margin: 1em 2em 2em 2em;
    outline: none;
    min-height: calc(100vh - 4em - 2.5em - 4em);
    /* background-color: lightblue; */
}

#editorBar {
    display: flex;
    background-color: white;
    height: 2.5em;
    border-bottom: 1px solid lightgray;
}

.btnsEditor, .selectEditor, #btnSave {
    border: none;
    background-color: white;
    height: 2em;
    margin: 0.25em 0 0 0.5em;
    font-size: 1em;
}

.btnsEditor, #btnSave {
    width: 2em;
}


.btnsEditor:hover, .selectEditor:hover, #btnSave:hover {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 2px;
}

#btnBold {font-weight: bold;}
#btnItalic {font-style: italic;}
#btnUnderline {text-decoration-line: underline;}
#btnUnorderedList {}
#btnOrderedList {}


#btnH1 {
    font-size: 2em;
    font-weight: bold;
}
#btnH2 {
    font-size: 1.5em;
    font-weight: bold;
}
#btnH3 {
    font-size: 1.17em;
    font-weight: bold;
    
}

#documentCards {
    margin-top: 1vh;
    border-top: 1px solid lightgray;
}

.doclist-card {
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: 1px solid lightgray;
}

.doclist-card>:nth-child(2) {
    font-weight: 100;
}

.doclist-card:hover {
    cursor: pointer;
    border-right: 5px solid #f78087;
}

.doclist-card>h3 {
    margin-top: 0;
}

.doclist-card>:nth-child(3) {
    font-size: 0.7rem;
}

#selectSort {
    border: none;
    width: 100%;
    padding-top: 0.4rem;
    font-size: 1rem;
}

.doc-title {
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 2vh;
}

/* Content styles */
ul {
    margin: 0.25em 1em;
}

ol {
    margin: 0.25em 1em;
}

li {
    margin-left: 1em;
}

/* Default heading styles 
https://stackoverflow.com/questions/5410066/what-are-the-default-font-sizes-in-pixels-for-the-html-heading-tags-h1-h2#5410145 
*/
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: .67em;
    margin-block-end: .67em;
  }
  
  h2,
  :-moz-any(article, aside, nav, section)
  h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: .83em;
    margin-block-end: .83em;
  }
  
  h3,
  :-moz-any(article, aside, nav, section)
  :-moz-any(article, aside, nav, section)
  h1 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
/* Create btn */
#createDoc {
    border-radius: 100%;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 4em;
    height: 4em;
    border: none;
    background-color: #817efc;
    transition: .5s;
    display: grid;
    place-items: center;
}
#createDoc img {
    width: 80%;
}

#createDoc:hover {
    cursor: pointer;
    background-color: rgb(196,127,186);
    transition: 0.5s;
    
}

.active {
    border-right: 5px solid #f78087 !important;
}