#menuFilterSort {
    padding: 0 1em 1em 1em;
}

#menuFilterSort > p {
    font-weight: bold;
    margin-top: 0.9em;

}

#menuFilterSort ul {
    list-style-type: none;
}

#menuFilterSort li {
    margin-top: 0.7em;
}

.sortFilterOptions {
    display: flex;
    margin-top: 0.7em;

}

.sort-button {
    background-color: rgb(255, 253, 253);
    padding: 0.2rem;
    border: 1px solid gray;
    border-radius: 2em;
}

.sort-button:hover {
    background-color: rgb(250, 248, 248);
}

#display-favourites {
    margin: 0.5rem;
}

.sortFilterOptions > * {
    margin-left: 0.5em;
}

.sortFilterOptions p {
    width: 12ch;
    margin-left: 0.5em;

}

#filterTag p {
    width: fit-content;
}

#labelCheckCreated {
    display: flex;
}

#findTags {
    margin-left: 1em;
    width: 15ch;
}

