#menuFilterSort {
    padding: 1em;
}

#menuFilterSort > p {
    font-weight: bold;
    margin-top: 0.9em;

}

#menuFilterSort ul {
    list-style-type: none;
}

#menuFilterSort li {
    margin-top: 0.7em;
}

.sortFilterOptions {
    display: flex;
    margin-top: 0.7em;

}

.sortFilterOptions > * {
    margin-left: 0.5em;
}

.sortFilterOptions p {
    width: 12ch;
    margin-left: 0.5em;

}

#labelCheckCreated {
    display: flex;
}

#findTags {
    margin-left: 2em;
    width: 15ch;
}