* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 4rem 1fr;
}

nav {
    /* background-color: rgb(100, 102, 212); */
    background: linear-gradient(45deg, #fd8081, #817efc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin: 0;
}
nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    cursor: pointer;
    margin-left: 0;
    text-align: center;
    height: 4em;
    color: white;
}

nav ul li i {
    font-size: 1.5rem;
}

.right-nav-ul li:hover {
    background-color: #fd8081;
}

.left-nav-ul li:hover {
    background-color: #817efc;
}

/* TA BORT EFTER FA */
nav ul li img {
    width: 70%;
    height: auto;
}

aside {
    /* background-color: lightgray; */
    box-shadow: 3px 2px 10px -2px #888;   
    width: 10em;
    transform: scaleX(0);
}

aside > div > section {
    padding: 1em;
}

@media (min-width: 900px) {

    aside {
        transform: scaleX(1);
    }

    .main {
        display: flex;
    }

    main {
        width: 100%;

    }
}