* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-gap: 5px;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;

}
main {
    height: 100%;
    width: 100%;
}

#editor {
    height: 100%;
    width: 100%;
    outline: none;
}

nav {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgb(10, 12, 172);
}
nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 100%;
}
nav ul li {
    margin: auto 5px auto 5px;
    width: 22vw;
    padding: 5px;
}
li#settings {
    margin-left: auto;
}
nav ul li img {
    width: 100%;
}
aside {
    grid-row: 2/4;
    grid-column: 1/2;
    background-color: lightgray;
}

main {
    grid-row: 2/4;
    grid-column: 2/4;
    background-color: white;
}
@media screen and (min-width: 400px) {
    nav ul li {
        width: 15vw;
    }
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.5fr 3fr;

    }
    nav ul li {
        width: 10vw;
    }
}

@media (min-width: 1124px) {
    .container {
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.3fr 0.6fr 2fr;
    }
    
    nav {
        grid-row: 1/4;
        grid-column: 1/2;
        background-color: rgb(10, 12, 172);
    }
    nav ul {
        flex-direction: column;
        height: 100vh;
    }
     nav ul li {
        width: 70px;
        height: 70px;
        padding: 10px 5px;
        margin: 5px auto 5px;
    
    }
    li#settings {
        margin-left: 0;
        margin: auto auto 20px auto;
    }
    
    aside {
        grid-row: 1/4;
        grid-column: 2/2;
        background-color: lightgray;
    }

    main {
        grid-row: 1/4;
        grid-column: 3/4;
    }
}