.info-modal {
    border: none !important;
    border-radius: 2em;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.info-modal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.4;
}

#myModal {
    border: none !important;
    border-radius: 2em;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 100vw;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#myModal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.4;
}

.logo {
    height: auto;
    width: 50%;
}

.slideshow-container {
    display: flex;
    height: 100%;
}

.slideshow-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.close-modal-btn {
    border: 2px solid #46B9E0;
    background-color: #46B9E0;
    color: white;
}

.my-slides-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-slides-content p {
    margin: 1rem;
}

.my-slides h1,
.modal-title {
    background-image: linear-gradient(45deg, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.form {
    margin-top: 2rem;
}



.close-modal-btn:hover {
    cursor: pointer;
    background-color: #2c70b5;
}

.slide-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    width: 100%;
}

.previous-button,
.next-button,
.close-modal-btn,
.previous-button-ghost {
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
    border: 2px solid #46B9E0;
    border: none;
    margin: 0.5rem;
    border-radius: 10px;
}

.previous-button:hover,
.next-button:hover {
    cursor: pointer;
}

.previous-button,
.previous-button-ghost {
    background-color: white;
    color: #46B9E0;
    border: 2px solid #46B9E0;
}

.next-button {
    background-color: #46B9E0;
    color: white;
}

.checkbox-container {
    display: flex;
}

.next-button:hover {
    background-color: #2daad3;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#label-info-checkbox {
    margin: 0.2rem;
}

.card-index {
    display: flex;
}

.nav-dot {
    border: 0.5px solid black;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    margin: 0.2rem;
}

.nav-dot-current {
    background-color: rgb(128, 125, 125);
}

.hide {
    display: none;
}

.make-invisible {
    visibility: hidden;
}

@media screen and (min-width: 600px) {
    .info-modal {
        height: 30em;
        width: 25em;
    }
}

@media screen and (min-width: 900px) {
    .info-modal {
        /* height: 80vh; */
        width: 40vw;
    }

    #myModal {
        width: 40vw;
    }

}