
.info-modal {
    border: none !important;
    border-radius: 5%;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 60vw;
    height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    padding: 1rem;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.info-modal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.4;
}

.logo {
    height: 10vh;
    width: auto;
}

.slide-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.slideshow-container {
    display: flex;
    height: 100%;
}

.slideshow-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}


.close-modal-btn {
    display: block;
    margin-top: 2rem;
    height: 1rem;
    border: none;
    color: #ffffff;
    background-color: #3777f5;
    font-size: large;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    border-radius: 10px;
}

.my-slides h2 {
    background-image: linear-gradient(45deg, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.form {
    margin-top: 2rem;
}

.close-modal-btn:hover {
    cursor: pointer;
    background-color: #2c70b5;
}

.slide-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.previous-button, .next-button {
    padding: 0.2rem 0.3rem;
    background-color: #4d88ff;
    color: white;
    border: none;
}

.previous-button:hover, .next-button:hover {
    background-color: #3779fd;
}

.card-index {
    letter-spacing: 0.1rem;
}

.hide {
    display: none;
}

@media screen and (min-width: 900px) {
    .info-modal {
        height: 70vh;
        width: 20vw;
    }
}