
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(45deg, red, blue);
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

img{
    width: 30%;
    border-radius: 5px;
}

p, a, h3{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

